attrs
certifi
chardet
Click
idna
importlib-metadata
itsdangerous
jsonschema
loguru
MarkupSafe
more-itertools
netifaces
notifiers
pyrsistent
pyserial
PySimpleGUI
PySocks
python-dotenv
python-engineio
python-socketio
requests
rfc3987
six
soupsieve
urllib3
websocket-client
zipp
